//CSS files
label, input, button, textarea {
  margin: 5px;
}
.large {
  width: 200px;
}
textarea {
  width: 300px;
  height: 100px;
}
.center { 
   text-align: center;
}
#rabbit-couple {
  width: 50px;
}
